<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>Activity</key>
		<array>
			<dict>
				<key>title</key>
				<string>Indivudual</string>
				<key>categoryid</key>
				<integer>1</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Team</string>
				<key>categoryid</key>
				<integer>2</integer>
				<key>image</key>
				<string>london</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Indoor</string>
				<key>categoryid</key>
				<integer>3</integer>
				<key>image</key>
				<string>first.jpg</string>
				<key>list</key>
				<array>
					<dict>
						<key>title</key>
						<string>Indoor 1</string>
						<key>image</key>
						<string>first.jpg</string>
						<key>desc</key>
						<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Outdoor</string>
				<key>categoryid</key>
				<integer>4</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Nautical</string>
				<key>categoryid</key>
				<integer>5</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Air</string>
				<key>categoryid</key>
				<integer>6</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Earthly</string>
				<key>categoryid</key>
				<integer>7</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Ball</string>
				<key>categoryid</key>
				<integer>8</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Fight</string>
				<key>categoryid</key>
				<integer>9</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Mechanical</string>
				<key>categoryid</key>
				<integer>10</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Animal</string>
				<key>categoryid</key>
				<integer>11</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Board</string>
				<key>categoryid</key>
				<integer>12</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Relaxing</string>
				<key>categoryid</key>
				<integer>13</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Choreographic</string>
				<key>categoryid</key>
				<integer>14</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Montain</string>
				<key>categoryid</key>
				<integer>15</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Target</string>
				<key>categoryid</key>
				<integer>16</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Precision</string>
				<key>categoryid</key>
				<integer>17</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Extreme</string>
				<key>categoryid</key>
				<integer>18</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Aquatic</string>
				<key>categoryid</key>
				<integer>19</integer>
				<key>image</key>
				<string>first.jpg</string>
			</dict>
		</array>
		<key>ImageList</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
